::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #5468FF;
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
    height: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	background-color: #5468FF;
}
body
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Cairo", sans-serif;
}

button
{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
}
button:hover
{
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}
button:active
{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}
button svg
{
    margin: -13px;
    margin-right: 0px;
}
nav
{
    width: 100%;
    height: 60px;
    border: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 6px 3px #e4e4e45e;
}
#logout
{
    margin: 10px;
    font-size: 0.9rem;
    font-family: "Cairo", sans-serif;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 39px;
    padding: 0 32px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,transform 0.15s ease;    
    cursor: pointer;
}
#logout:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}
#logout:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}
nav img
{
    width: 58px;
    height: 58px;
}
nav div
{
    width: 135px;
}
.graduate, .trip
{
    display: flex;
    height: 43vh;
    border-radius: 23px;
    border: 3px solid #5468FF;
    margin: 15px;
}
.trip img
{
    width: 50%;
    object-fit:cover;
    object-position: center;
    border-radius: 20px 10px 10px 20px;
}
.graduate img
{
    width: 50%;
    object-fit:cover;
    object-position:left;
    border-radius:  10px 20px 20px 10px ;
}
.graduate div, .trip div
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) 
{
    #logout
    {
        font-size: 0.7rem;
        width: 120px;
    }
    .graduate h2, .trip h2
    {
        font-size: 19px;
        text-align: center;
    }
    .trip img
    {
        object-position:60%;
    }
    ::-webkit-scrollbar-track
    {
    -webkit-box-shadow: none;
    border-radius: none;
    background-color: none;
    }

    ::-webkit-scrollbar
    {
    width: none;
    height: none;
    background-color: none;
    }

    ::-webkit-scrollbar-thumb
    {
    border-radius: none;
    -webkit-box-shadow: none;
    background-color: none;
    }
}
