body
{
    padding: 20px;
    margin: 0px;
    box-sizing: border-box;
    text-align: end;
    font-family: "Cairo", sans-serif;
    font-weight:500;
}
.containerr
{
    display: flex;
    justify-content: space-around;
}
.data
{
    width: 55%;
    display: flex;
    flex-direction: column;
}
.qr
{
    width: 27%;
    height: 360px;
    padding: 30px;
    margin: -4px;
    margin-top: 15px;
    border-radius: 23px;
    border: 2px solid #5468FF;
}
#qr
{
    margin-top: -125px;
}
#qr img {
    margin-top: -125px;
    width: 300px;
}
#free
{
    cursor: not-allowed;
}
.btn
{
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
button
{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    text-align: center;
    width: 47vw;
}
button:hover
{
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}
button:active
{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}
input:not(input[type="radio"]), select
{
    width: auto;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    text-align: end;
}
input:not(input[type="radio"]):focus
{
    border: 2px solid #5468FF;
    outline: none;
}
label::after, p::after
{
    content: "*";
    color: #5468FF;
    font-size: 20px;
    width: 20px;
    font-weight: bolder;
    padding: 5px;
}
p
{
    margin:8px -2px;
}
label.notreq::after {
    content: none;
}
.uline
{
    color: #5468FF;
}
.logo
{
    width: 117px;
    height: 117px;
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(45%, -50%);
}
#trip-choosen, #gradu-choosen
{
    display: none; /*flex*/
    flex-direction: column;
}
.radioflex
{
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
}
#msg-war
{
    display: none;
    flex-direction: row-reverse;
}
input[type="radio"]
{
    margin-left: 10px;
}
@media only screen and (max-width: 768px) 
{
    .containerr
    {
        flex-direction: column-reverse;
    }
    .qr
    {
        width: 92%;
        height: 260px;
        padding: 15px;
    }
    .data
    {
        width: 100%;
    }
    .logo
    {
        width: 117px;
        height: 117px;
        position: relative;
        top: 50%;
        right: 50%;
        transform: translate(45%, -50%);
    }
    .btn
    {
        flex-direction: column;
    }
    button
    {        
        width: 100%;
        margin-bottom: 10px;
    }
    #qr img
    {
        width: 240px;
        height: 240px;
        margin: auto;
    }
}