*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Cairo", sans-serif;
}

.container
{
    display: flex;
}
aside
{
    width: 25%;
    height: 100vh;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
aside img
{
    width: 50%;
    margin: 20px auto 10px auto;
}
.asidebtn
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
}
aside button
{
    margin: 0;
    width: auto;
    font-weight: 600;
    font-size: 0.9rem;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 39px;
    padding: 0 32px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,transform 0.15s ease;    
}
aside a
{
    margin: 10px auto;

}
aside button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}
aside button:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}
aside .active
{
    background-color: #3b52ff;
    color: #fff;
}
#control input[type="number"], #control input[type="text"]{
    outline: none;    
    color: rgb(36, 35, 42);
    font-size: 18px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    height: 40px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    margin: 5px;
}
#control input[type="number"]:focus, #control input[type="text"]:focus{
    border: 2px solid rgb(124, 138, 255);
}
#graduate-data
{
    display: none;
    height: 100vh;
    overflow-y: scroll;
}
#trip-data
{
    display: none;
    height: 100vh;
    overflow-y: scroll;
}
#control
{
    display: none; /*flex*/
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#control form
{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
#control .inline-input
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.admin-body
{
    width: 100%;
}
.admin-body img
{
    width: 30%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: block;
}
.btnsub
{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    text-align: center;
    margin-top: 15px;
    z-index: 0;
    width: 57%;
}
.btnsub:hover
{
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}
.btnsub:active
{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}
table
{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th, td
{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
tbody td:first-child
{
    font-weight: bold;
}
tbody tr:hover 
{
    background-color:#f5f5f5;
}
.del-btn
{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #ffc289 0%, #ff4747 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgba(58, 65, 111, 0.26);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 32px;
    font-size: 16px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    text-align: center;
}
.del-btn:hover
{
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #ff4747;
    transform: translateY(-2px);
}
.del-btn:active
{
    box-shadow: inset 0px 3px 7px #ff4747;
    transform: translateY(2px);
}
h2
{
    position: sticky;
    top:0;
    text-align:center;
    width: 100%;
    color: #5468FF;
    background-color: #fff;
    padding: 3px;
    z-index: 3;
}

@media only screen and (max-width: 600px) 
{
    .container
    {
        flex-direction: column;
    }
    aside
    {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .asidebtn
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        overflow: visible;
    }
    aside img
    {
        display: none;
    }
    aside button
    {
        width: 100px;
        margin: 5px;
        height: auto;
    }
    .admin-body
    {
        height: 100vh;
    }
    .admin-body img 
    {
        transform: translate(-50%, -100%);
    }
    *
    {
        overflow: auto;
    }
    h2
    {
        width: 180%;
    }
    #control
    {
        flex-direction: column;
        justify-content: start;
        margin-top: 35px;

    }
    #control .inline-input
    {
        flex-direction: column;
    }
    #control form
    {
        overflow: visible;
    }
}